/* Icon Component Styles - Mac OS 9 */

.mac-os9-icon {
	/* Base styles */
	display: inline-block;
	flex-shrink: 0;
	line-height: 1;
	color: currentColor;
	vertical-align: middle;
}

/* ========================================
 * Size Variants
 * ======================================== */

.mac-os9-icon--xs {
	width: 12px;
	height: 12px;
}

.mac-os9-icon--sm {
	width: 14px;
	height: 14px;
}

.mac-os9-icon--md {
	width: 16px;
	height: 16px;
}

.mac-os9-icon--lg {
	width: 20px;
	height: 20px;
}

.mac-os9-icon--xl {
	width: 24px;
	height: 24px;
}
